@import "tailwindcss";

@custom-variant dark (&:where([data-mantine-color-scheme=dark], [data-mantine-color-scheme=dark] *));

@theme {
    --color-darkmode-gray: #212121;
    --color-darkmode-soft-white: #ececec;
    --color-darkmode-soft-gray: #b4b4b4;
    --color-lightmode-white: #ffffff;
    --color-wl-red: #E30613;
    --color-wl-gray: #f5f5f5;
    --color-wl-dark-gray: #31333a;
    --color-wl-light-gray: #6d6f74;

    --breakpoint-xs: 20rem;
    --breakpoint-xsm: 30rem;

    --animate-breathing: breathing 6s ease-in-out infinite;
    --animate-pulse-slow: pulse 6s cubic-bezier(0.4, 0, 0.6, 1) infinite;

    @keyframes breathing {
        0%, 100% {
            transform: scale(1.1);
            opacity: 1;
        }
        50% {
            transform: scale(1);
            opacity: 0.8;
        }
    }
}